[user]
	name = He4eT
	email = He4eT@oddsquat.org
[core]
	pager = less -S
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
