* {
  box-shadow: none !important;
  border-radius: 0 !important;
  --selected-item-color: #9e9e9e !important;
  --selected-item-text-color: #212121 !important;
  --listbox-selected-bg: #9e9e9e !important;

  --treeitem-background-active: #9e9e9e !important;
  --treeitem-background-selected: #9e9e9e !important;

  --color-blue-05: #fafafa !important;
  --color-blue-10: #f4f4f5 !important;
  --color-blue-20: #e4e4e7 !important;
  --color-blue-30: #d4d4d8 !important;
  --color-blue-40: #a1a1aa !important;
  --color-blue-50: #71717a !important;
  --color-blue-60: #52525b !important;
  --color-blue-70: #3f3f46 !important;
  --color-blue-80: #27272a !important;
  --color-blue-90: #18181b !important;

  --color-ink-05: #fafafa !important;
  --color-ink-10: #f4f4f5 !important;
  --color-ink-20: #e4e4e7 !important;
  --color-ink-30: #d4d4d8 !important;
  --color-ink-40: #a1a1aa !important;
  --color-ink-50: #71717a !important;
  --color-ink-60: #52525b !important;
  --color-ink-70: #3f3f46 !important;
  --color-ink-80: #27272a !important;
  --color-ink-90: #18181b !important;

  --foldertree-background: #e0e0e0 !important;
  --tree-view-bg: #e0e0e0 !important;
}

#folderTree .icon {
  --icon-color: #212121 !important;
}

#calSidebar #primaryButtonSidePanel {
  display: none !important;
}

#tabs-toolbar {
  background: none !important;
  padding: 0;
  padding-inline: 3px;
}

.tab-line[selected="true"] {
  background: none !important;
}

.tabmail-tab {
  margin-bottom: 3px;
}

tabs > arrowscrollbox,
tabs > arrowscrollbox > * {
  --tab-max-width: 200px;
}

