! RXVT Config. terminus font is required!

URxvt.font: xft:Terminus:size=13

URxvt*transparent: true
URxvt*tintColor: White
URxvt*shading: 40
URxvt*scrollBar: false
URxvt*print-pipe: cat > /tmp/urxvt-screen-content.txt
URxvt.internalBorder: 20

URxvt*iso14755: False
URxvt*iso14755_52: False
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

! Misterioso.colorscheme

*.cursorColor: #c5c8c6
*.foreground:  #c5c8c6
*.background:  #1d1f21

*.color0:  #000000
*.color8:  #555555

*.color1:  #ff4242
*.color9:  #ff3242

*.color2:  #74af68
*.color10: #74cd68

*.color3:  #ffad29
*.color11: #ffb929

*.color4:  #757575
*.color12: #BDBDBD

*.color5:  #9414e6
*.color13: #ff37ff

*.color6:  #6d878d
*.color14: #90A4AE

*.color7:  #e1e1e0
*.color15: #ffffff
