:root {
  --tab-size: 2.3em;
  --tab-highlighter-size: 4px;
}

/* No new tab button */
.newtab-button {
  display: none;
}

/* Counter tunning */
.counter {
  font-weight: bold;
}
.counter::before {
  content: '';
}
.counter::after {
  content: '';
}

/* Put scrollbar rightside */
:root.left #tabbar { direction: ltr; }

/* Scrollbar width */
#pinned-tabs-container, #normal-tabs-container {
  scrollbar-width: unset;
}

/* Common background */
#background {
  background: color-mix(in srgb, -moz-dialog 85%, white);
}

/* Pined tabs container */
#pinned-tabs-container {
  border-bottom: 1px solid rgb(173, 173, 173);
}

/* Tabs */

tab-item,
tab-item-substance {
  justify-content: center;
}

tab-item-substance {
  padding: 0.3em;
  border: 1px solid rgb(173, 173, 173);
  border-right: none;
}

.tab, .tab.pinned {
  height: var(--tab-size);
  margin-top: -1px;
}

.tab:hover > tab-item-substance,
.tab.active > tab-item-substance {
  background: var(--face-highlight-more-more-lighter);
}

.tab .label {
  margin-left: 0.4em;
  line-height: var(--tab-size);
}

.tab .closebox {
  margin-left: 0.2em;
  margin-right: 0.1em;
}

tab-item tab-favicon,
tab-item tab-favicon * {
  vertical-align: top;
}

