* {
  border-radius: 0 !important;
}

/* Tabbar */

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
  opacity: 0;
  pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* Addressbar */

#nav-bar-customization-target {
  --toolbar-start-end-padding: 0;
}

#main-window:not([privatebrowsingmode="temporary"]) #urlbar-background {
  /* --toolbar-field-border-color: #adadad; */
  border-color: var(--button-active-bgcolor) !important;
  background-color: Field !important;
}

.identity-box-button {
  padding-inline: var(--urlbar-icon-padding) !important;
}

#tracking-protection-icon-container,
#star-button-box {
  display: none;
}
