/* Turn off border radius. */
*,
.rounded {
  border-radius: 0 !important;
}

/* Some air for post text. */
#postContent {
  line-height: 1.5;
}

.post-listing {
  line-height: 2;
}

/* Tuning for https://lemmy.cafe */
#navbar {
  margin-block-start: 16px;
}

#tagline {
  display: none;
  margin-block-end: 32px;
}

.post-listings {
  margin-block-start: 48px;
}
